@import "utils/fonts";
@import "utils/vars";
@import "utils/mixins";
@import "utils/reset";


body {
  margin: 0;
  padding: 0;
  font-family:$mainFont;
  font-weight: 300;
}
header{
  /*position: sticky;
  top:0;*/
  z-index:20;
}
main{
  flex: 1 0 auto;
  z-index:10;
}
footer{
  flex: 0 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  overflow: hidden;
  background-image: url(../../assets/img/any/bkg.jpeg);
}
.container{
  max-width: 1320px;
  padding:0 40px;
  margin:0 auto;
  position: relative;
  overflow: hidden;

  @media screen and (max-width:$xl){
    max-width: 100%;
  }

  @media screen and (max-height: $height_170){
    max-width: 940px;
  }
}

a{
  transition: $transition;

  &:hover,
  &:focus,
  &:active{

  }
}

@import "sections/header";
@import "sections/menu";
@import "sections/franchise";
@import "sections/model";
