// Font
$mainFont          : "Gilroy", sans-serif;

// Size width
$xl : 1280px;
$lg : 1024px;
$md : 980px;
$sm : 767px;

// Size height
$width_120  :1526px;
$height_120 :763px;

$width_150  :1396px;
$height_150 :694px;

$width_170  :1280px;
$height_170 :610px;

// Main color
$cherry          : #A91E23;;
$white           : #ffffff;
$black           : #000000;
$latte           : #F4B869;


$transition     :all .3s ease;



