// Font
$mainFont          : Nunito, sans-serif;

// Size width
$xl : 1200px;
$lg : 1024px;
$md : 980px;
$sm : 767px;

// Size height

$iphone8: 667px;

// Main color
$cherry          : #A91E23;;
$white           : #ffffff;
$black           : #000000;
$latte           : #F4B869;


$transition     :all .3s ease;



